<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Game Over
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="teste" padding>
    <h5>Games</h5>
    <button ion-button color="theme">Cadastrar Games</button>
  </div>
  <div padding>
    <h5>Detalhes</h5>
    <button ion-button color="theme">Cadastrar Detalhes</button>
  </div>
  <div padding>
    <h5>Lista de Games</h5>
    <button ion-button color="theme">Cadastrar Lista de Games</button>
  </div>
</ion-content>