<ion-content>

  <ion-row>
    <ion-col style="margin-right: 20px;">
      <ion-item >
        <ion-label style="font-size: 11px;" floating>Nome do Game</ion-label>
        <ion-input style="font-size: 13px;" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item >
        <ion-label style="font-size: 11px;" floating>Plataforma</ion-label>
        <ion-select style="font-size: 13px;">
          <ion-option value="nes">NES</ion-option>
          <ion-option value="n64">Nintendo 64</ion-option>
          <ion-option value="ps">PlayStation</ion-option>
          <ion-option value="genesis">Sega Genesis</ion-option>
          <ion-option value="saturn">Sega Saturn</ion-option>
          <ion-option value="snes">SNES</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col >
        <button color="theme" style="top: 19px;" clear ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>        
    </ion-col>
  </ion-row>


</ion-content>